<!DOCTYPE html>

<html>

    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>

    <body>

        <div>Microblog: 
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %} <!-- Any user that is not logged in is automatically flagged as anonymous -->
            <a href="{{ url_for('login') }}">Login</a> <!-- Any user not logged in will see the Login prompt -->
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a> <!-- Any user currently logged in will see this link to their profile -->
            <a href="{{ url_for('logout') }}">Logout</a> <!-- Any user currently logged in will instead see the Logout prompt-->
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    
    </body>

</html>